<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
      explicabo odio, asperiores aut facilis, quaerat quis corrupti fuga
      quisquam obcaecati, ratione perferendis maxime. Obcaecati, ut! Repellat
      quia pariatur modi hic quis. Perferendis voluptatum quibusdam quam
      provident eos iure! Officiis impedit voluptate quo minima omnis dicta ex
      architecto magnam reprehenderit earum, temporibus, molestias nisi! Quae
      eligendi autem fugiat quaerat, sint hic, corrupti aut magnam consequuntur
      culpa laborum at. Sint, perferendis? Autem modi amet reiciendis odit illum
      alias voluptate perspiciatis molestias incidunt dolore sed provident non,
      atque obcaecati numquam possimus eveniet et. Qui, sapiente minus facere
      eveniet ad cupiditate mollitia veniam adipisci voluptatem accusamus
      tenetur sed, ipsam perferendis dolorem commodi. Facere, dolores numquam?
      Tempora, laboriosam vitae voluptatum qui sequi consequatur. Similique
      nihil commodi quos harum facilis tenetur accusantium eius repudiandae
      odit? Vitae architecto laboriosam, magni, officia quasi nesciunt eum
      ratione repellendus nam, ducimus voluptatum explicabo impedit.
      Voluptatibus sint illum inventore quaerat illo aspernatur! Rem corrupti
      accusamus nostrum deleniti eius, labore voluptate saepe odit natus
      officiis similique at placeat ratione, ex illo explicabo quibusdam
      delectus, perferendis asperiores non? Officiis accusamus, fugit quod
      eveniet labore adipisci dicta odit laboriosam beatae tempora, ullam culpa
      voluptates aliquam iure, quisquam architecto. Neque possimus reprehenderit
      atque nobis explicabo commodi laborum delectus qui tempora dolorum, quam,
      ut fugit consequuntur. Quod nesciunt quo, optio accusantium sequi placeat,
      incidunt nam aperiam et, ipsa officia commodi a quaerat dignissimos quam
      non? Asperiores unde, facere vitae sapiente, rerum molestias doloremque
      expedita iusto architecto dolor ipsa excepturi possimus. Nesciunt illum ab
      velit maxime similique repellat ad consequuntur voluptas maiores dolores
      laboriosam, obcaecati, quam aspernatur dignissimos nemo voluptatibus
      exercitationem ut sint. Praesentium, eveniet enim deserunt, et quas nobis
      quidem quia nemo, voluptas culpa eligendi? Laudantium nemo culpa
      asperiores nam sint soluta rerum voluptatibus vero praesentium aperiam,
      placeat sunt quae accusamus illo a ab laboriosam deserunt quibusdam.
      Tempora non quo eligendi, harum voluptatem corporis, earum iure deleniti
      esse hic exercitationem optio consequatur nam sapiente dolores reiciendis
      minima ex doloribus laboriosam? Blanditiis voluptates rem consequatur vero
      sequi! Quae est odio qui amet labore temporibus cupiditate illo,
      reiciendis totam deserunt ducimus ullam, dignissimos exercitationem
      perferendis eius quidem libero. Ad optio culpa quis beatae est,
      accusantium omnis laboriosam doloribus totam. Sed cum id quidem sequi
      facere laborum enim perspiciatis nulla sunt nobis officiis repudiandae
      asperiores minus odit veritatis accusamus tenetur quis unde consectetur
      neque, corrupti, dicta non eos dolorem. Libero excepturi molestiae beatae,
      a delectus praesentium amet dolores consectetur sed rem dignissimos
      obcaecati eos commodi deserunt quam qui quidem veniam recusandae voluptate
      voluptatum fugiat ut repudiandae. Repellendus odit laborum cumque officia
      pariatur velit quidem inventore non, autem at eveniet quibusdam similique
      consectetur, nobis deserunt nam reiciendis totam commodi cum, tempore ab.
      Cupiditate temporibus suscipit dolor culpa nesciunt! Sapiente minima eius
      debitis vero optio, corporis deleniti porro consequatur rem temporibus
      illo? Labore esse ea consectetur modi expedita veniam, nam voluptatum
      recusandae mollitia laborum et, quod delectus non cupiditate neque beatae
      ab molestias dolor. Maxime corrupti accusamus aliquam, accusantium enim
      deserunt in! Vero rerum aspernatur deleniti magni natus animi officiis
      alias!
    </p>
  </body>
</html>
